<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    
    <!-- this value specifies the timeout in ms while this tool waits for execution of DVECUExGen.exe -->
    <add key="TimeoutForDVECUExGen" value="60000" />
    
    <!-- this value specifies the default Asr-Version of the generated ecuc-files -->
    <add key="DefaultOutputAsrVersion" value="03.00.02"/>
    
    <!-- this value specifies the path of the components-directory to use; 
         it can either be absolute or relative; in the latter case, it's based on the location of this file -->
    <add key="PathToComponentsDir" value="..\Components"/>
    
  </appSettings>  
</configuration>