<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- parameter 'InitialEcuCGenDirPath' is used for specifying the relative path to the directory, the InitialEcuCGenerator exists in -->
    <add key="InitialEcuCGenDirPath" value="..\GenTool_CsAsrInitialEcuC" />
    <!-- parameter EcuCLockNoAttempts specifies the number of attempts to get a write-allowed-lock on the ecuc-project -->
    <add key="EcuCLockNoAttempts" value="3" />
    <!-- parameter EcuCLockTimeoutTimeForEachAttempt specifies the timeout-time in seconds for each attempt to get a write-allowed-lock on the ecuc-project -->
    <add key="EcuCLockTimeoutTimeForEachAttempt" value="1" />
    <!-- parameter '' is used for specifying the relative path to the directory, the dpa-file exists in (needed for split-projects) -->
    <add key="DpaFileDirPath" value="..\..\"/>
  </appSettings>
</configuration>